h3
{
    font-size: 24px !important;
}

.btn-success:hover
{
    background-color:red;
}

canvas
{
    animation-name:exsample;
    animation-duration:4s;
    animation-iteration-count: infinite;
}

@keyframes exsample 
{
    from{box-shadow: 1px 1px 38px rgb(255, 255, 255);}
    to{box-shadow: 1px 1px 38px rgb(0, 0, 0);}
}